.container {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}

.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.content {

}

.edit-ipaddress {
}

/*.container-fixed { border: 1px solid red; }*/
/*.col {
  border: 1px solid #ccc;
  text-align: center;
}*/
